@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:  0 ;
  padding: 0;
  box-sizing: border-box;
}
 html{ 
  font-size: 62.5%;
 }
 @keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out;
}

.fade-in {
  animation: fadeIn 1s ease-out;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s infinite;
}

.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: #ffffff; /* #10171D */
  font-size: 0.875rem !important;
}