/* Common Styles for Both Containers */
.discover-containerp1, .discover-containerp2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Common Video Styling */
.codbackground-video, .cyberpunkbackground-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
}

/* Overlay */
.overlay, .overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ensure consistent dark overlay */
    z-index: -1;
}

/* Content */
.content, .content2 {
    position: relative;
    z-index: 2;
    color: white;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

/* Text Styles for H1 and H2 */
h1, h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    text-align: left;
}

/* Discover Container 1 Specific Text Styles */
.discover-containerp1 h1, .discover-containerp2 h1 {
    font-size: 10rem;
    font-weight: 100;
    padding-left: 1em;
    word-spacing: -15px;
}

.discover-containerp1 h2, .discover-containerp2 h2 {
    font-size: 6rem;
    font-weight: 100;
    padding-left: 1.68em;
}

/* Responsive Padding and Margin Adjustments for Larger Screens */
@media (min-width: 768px) {
    .discover-containerp1 .content, .discover-containerp2 .content {
        margin-top: 100px;
    }

    .discover-containerp1 h2, .discover-containerp2 h2 {
        margin-bottom: 80px;
    }
}

/* Card Styling */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: large;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
